<section style="background-image: url('/assets/login-bg.jpg'); min-height: 100vh; background-size: cover; background-position: center center; background-repeat: no-repeat">

    <div class="container">
        <div class="columns is-mobile is-tablet is-desktop is-centered">
            <div class="column is-5-desktop is-10-mobile is-8-tablet">
                <div class="card" style="margin-top: 50px; margin-bottom: 15px;">
                    <div class="card-header">
                        <div class="card-header-title">
                            Iniciar Sesión
                        </div>
                    </div>
                    <div class="card-content">
                        <div [hidden]="!hasError" style="margin-bottom: 15px;">
                            <article class="message is-danger">
                                <div class="message-header">
                                    <p>Ocurrió un error</p>
                                    <button class="delete" aria-label="delete" (click)="onClickDeleteError()"></button>
                                </div>
                                <div class="message-body">
                                    {{errorMessage}}
                                </div>
                            </article>
                        </div>

                        <form [formGroup]="loginForm" >
                            <div class="field">
                                <label class="label">Correo Electrónico</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" [readonly]="isLoading" [class.is-success]="(email.dirty || email.touched) && email.valid" [class.is-danger]="(email.dirty || email.touched) && !email.valid" placeholder="correo@correo.com" formControlName="email">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <div *ngIf="email.dirty || email.touched">
                                        <span class="icon is-small is-right has-text-success" *ngIf="email.valid">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="icon is-small is-right has-text-warning" *ngIf="!email.valid">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </span>
                                        <p class="help is-danger" *ngIf="!email.valid">
                                            El correo electrónico introducido no es válido
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Contraseña</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" [readonly]="isLoading" [class.is-success]="(password.dirty || password.touched) && password.valid" [class.is-danger]="(password.dirty || password.touched) && !password.valid" placeholder="contraseña" formControlName="password" type="password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                    <div *ngIf="password.dirty || password.touched">
                                        <span class="icon is-small is-right has-text-success" *ngIf="password.valid">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="icon is-small is-right has-text-warning" *ngIf="!password.valid">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </span>
                                        
                                        <p class="help is-danger" *ngIf="password.errors && password.errors.minlength">
                                            La contraseña debe tener un mínimo de 6 caracteres
                                        </p>
                                        <p class="help is-danger" *ngIf="password.errors && password.errors.pattern">
                                            La contraseña contiene caracteres no válidos
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button class="button is-info is-fullwidth" [class.is-loading]="isLoading" (click)="onSubmit()" [disabled]="!loginForm.valid">Iniciar Sesión</button>
                        </form>
                    </div>
                    <hr style="margin-top: 0; margin-bottom: 0;">
                    
                    <div class="card-content">
                        <p class="has-text-centered">
                            También puedes iniciar sesión con:
                        </p>
                        <button class="button is-link is-fullwidth" style="margin-top: 5px">
                            <span class="icon is-small">
                                <i class="fab fa-facebook-f"></i>
                            </span>
                            <span>
                                Facebook
                            </span>
                        </button>
                        <button class="button is-danger is-fullwidth" style="margin-top: 15px">
                            <span class="icon is-small">
                                <i class="fab fa-google"></i>
                            </span>
                            <span>
                                Google
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<delifood-footer></delifood-footer>
