<section style="background-image: url('/assets/login-bg.jpg'); min-height: 100vh; background-size: cover; background-position: center center; background-repeat: no-repeat">

    <div class="container">
        <div class="columns is-mobile is-tablet is-desktop is-centered">
            <div class="column is-6-desktop is-10-mobile is-8-tablet">
                <div class="card" style="margin-top: 50px">
                    <div class="card-header">
                        <div class="card-header-title">
                            Iniciar Sesión
                        </div>
                    </div>
                    <div class="card-content">
                        <form [formGroup]="loginForm" >
                            <div class="field">
                                <label class="label">Correo Electrónico</label>
                                <div class="control has-icons-left" [class.has-icons-right]="(email.dirty || email.touched) && email.valid || email.invalid">
                                    <input class="input" [class.is-success]="(email.dirty || email.touched) && email.valid" [class.is-danger]="(email.dirty || email.touched) && email.invalid" placeholder="correo@correo.com" formControlName="email">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right has-text-success" *ngIf="(email.dirty || email.touched) && email.valid">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="icon is-small is-right has-text-warning" *ngIf="(email.dirty || email.touched) && email.invalid">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                                <p class="help is-danger" *ngIf="(email.dirty || email.touched) && email.invalid">
                                    El correo electrónico introducido no es válido
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Contraseña</label>
                                <div class="control has-icons-left" [class.has-icons-right]="(password.dirty || password.touched) && password.valid || password.invalid">
                                    <input class="input" [class.is-success]="(password.dirty || password.touched) && password.valid" [class.is-danger]="(password.dirty || password.touched) && password.invalid" placeholder="contraseña" formControlName="password" type="password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-asterisk"></i>
                                    </span>
                                    <span class="icon is-small is-right has-text-success" *ngIf="(password.dirty || password.touched) && password.valid">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="icon is-small is-right has-text-warning" *ngIf="(password.dirty || password.touched) && password.invalid">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                                <p class="help is-danger" *ngIf="(password.dirty || password.touched) && password.errors.minlength">
                                    La contraseña debe tener un mínimo de 6 caracteres
                                </p>
                                <p class="help is-danger" *ngIf="(password.dirty || password.touched) && password.errors.pattern">
                                    La contraseña contiene caracteres no válidos
                                </p>
                            </div>
                            <button id="login-button" class="button is-info" (click)="onSubmit()" [disabled]="loginForm.invalid">Iniciar Sesión</button>
                        </form>
                    </div>
                    <div [hidden]="!hasError">
                        <article class="message is-danger">
                            <div class="message-header">
                                <p>Ocurrió un error</p>
                                <button class="delete" aria-label="delete" (click)="onClickDeleteError()"></button>
                            </div>
                            <div class="message-body">
                                {{errorMessage}}
                            </div>
                        </article>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</section>

<delifood-footer></delifood-footer>
