<div class="container">
    <div class="columns is-mobile is-tablet is-desktop is-centered">
        <div class="column is-10-mobile is-8-tablet is-half-desktop has-text-centered">
            <h1 class="is-size-1">Modificar Categoria</h1>
        </div>
    </div>
    <div class="columns is-mobile is-tablet is-desktop is-centered">
        <div class="column is-10-mobile is-8-tablet is-half-desktop has-text-centered">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        Modificar Categoria
                    </div>
                </div>
                <div class="card-content">
                    <div class="content">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
