<div *ngIf="isActive" [class.is-active]="isActive" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    Añadir {{product.name}} al carrito
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <div class="columns">
                        <div class="column">
                            <label class="label">
                                {{product.name}}
                            </label>
                        </div>
                        <div class="column is-1">
                            <label class="label">
                                x
                            </label>
                        </div>
                        <div class="column is-2">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="number" min="1" [(ngModel)]="quantity" (click)="onQuantityChange()" (keyup)="onQuantityChange()" (change)="onQuantityChange()"  placeholder="1">
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <label class="label">
                                = {{total}} BsF.
                            </label>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <button class="button is-warning is-pulled-right" (click)="onDismissModal()">
                                Cancelar
                            </button>
                        </div>
                        <div class="column">
                            <button class="button is-info is-pulled-left" [disabled]="quantity < 1" (click)="onClickAddToCartButton()">
                                Añadir al Carrito
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="onDismissModal()"></button>
</div>
