<div *ngIf="active" [class.is-active]="active" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title" *ngIf="!sent">
                    Elija el método de pago
                </div>
                <div class="card-header-title" *ngIf="sent">
                    Pago Confirmado
                </div>
            </div>
            <div class="card-content" *ngIf="!sent">
                <div class="content">
                    <div class="columns is-mobile is-tablet is-desktop is-centered">
                        <div class="column is-10-mobile is-8-tablet is-half-desktop has-text-centered">
                            <button class="button is-info"  disabled  (click)="payWithPayPal()">
                                <span class="icon is-small">
                                    <i class="fab fa-paypal"></i>
                                </span>
                                <span>
                                    Pagar con PayPal
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="columns is-mobile is-tablet is-desktop is-centered">
                        <div class="column is-10-mobile is-8-tablet is-half-desktop has-text-centered">
                            <button class="button is-info" [class.is-loading]="processingPayment" [disabled]="processingPayment" (click)="payWithStripe()">
                                <span class="icon is-small">
                                    <i class="fab fa-stripe"></i>
                                </span>
                                <span>
                                    Pagar con Stripe
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content" *ngIf="sent">
                <div class="content">
                    <div class="columns is-mobile is-tablet is-desktop is-centered">
                        <div class="column is-10-mobile is-8-tablet is-half-desktop has-text-centered">
                            <button class="button is-info" (click)="onClickContinue()">
                                Continuar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="onDismissModal()" [disabled]="loading"></button>
</div>

