<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/']">
            Delifood
        </a>
        <div class="navbar-burger burger" data-target="navMenu" id="navBurger" (click)="navBarToggle()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item navBoton" *ngFor="let link of navLinks" [routerLink]="[link.path]" (click)="navButtonPressed()">
                {{link.name}}
            </a>
            <a class="navbar-item navBoton" [routerLink]="['/carrito']" (click)="navButtonPressed()">
                <delifood-cart-label></delifood-cart-label>
            </a>
        </div>
        <div class="navbar-end" *ngIf="role !== 'guest'">
            <a class="navbar-item navBoton" (click)="activateLogoutModal()" (click)="navButtonPressed()">
                Salir
            </a>
        </div>
        <div class="navbar-end" *ngIf="role === 'guest'">
            <a class="navbar-item navBoton" [routerLink]="['/login']" (click)="navButtonPressed()">
                Iniciar Sesión
            </a>
            <a class="navbar-item navBoton" [routerLink]="['/registro']" (click)="navButtonPressed()">
                Registrarme
            </a>
        </div>
    </div>
</nav>

<delifood-logout></delifood-logout>
