<footer class="footer" style="background-color: #ff3860">
    <div class="container">
        <div class="columns is-mobile is-tablet is-desktop is-centered">
            <div class="column is-10-mobile is-8-tablet is-half-desktop has-text-centered">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <p>
                                Creador:
                                Jesús Jiménez
                            </p>
                            <p style="margin-bottom: 0">
                                Contáctame:
                            </p>
                            <p style="margin-bottom: 0">
                                <a href="mailto:jesuswebdev@gmail.com">
                                    <span>
                                        Correo Electrónico
                                    </span>
                                </a>
                            </p>
                            <p style="margin-bottom: 0">
                                <a href="https://linkedin.com/in/jesús-jiménez-9b9050a3">
                                    <span>
                                        Linked
                                    </span>
                                    <span class="icon is-small">
                                        <i class="fab fa-linkedin-in"></i>
                                    </span>    
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
