<footer class="footer" style="background-color: #ff3860">
    <div class="container">
        <div class="columns is-mobile is-tablet is-desktop is-centered">
            <div class="column is-10-mobile is-8-tablet is-half-desktop has-text-centered">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <p>
                                Creador:
                                Jesús Jiménez
                            </p>
                                <div class="columns has-text-white">
                                    <div class="column">
                                        <a href="mailto:jesuswebdev@gmail.com">
                                            <span class="icon is-medium">
                                                <i class="fas fa-2x fa-envelope"></i>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="column">
                                        <a href="https://linkedin.com/in/jesús-jiménez-9b9050a3">
                                            <span class="icon is-medium">
                                                <i class="fab fa-2x fa-linkedin-in"></i>
                                            </span>
                                            
                                        </a>
                                        
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <footer class="footer" style="background-color: #ff3860; position:fixed;left:0;bottom:0;width:100%;">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          hola mundo
        </p>
      </div>
    </div>
  </footer> -->
