<section style="background-image: url('/assets/bg1.jpg'); min-height: 100vh; background-size: cover; background-position: center center; background-repeat: no-repeat" >
    <div class="container">
            <div class="columns is-mobile is-tablet is-desktop is-centered">
                <div class="column is-3-mobile is-half-tablet is-half-desktop">
                    <img class="is-pulled-right" src="../../../assets/logo-c.png">
                </div>
                <div class="column is-7-mobile is-half-tablet is-half-desktop" style="display: flex;margin-top: auto;margin-bottom: auto;">
                    <h1 class="title is-1 has-text-white">Delifood</h1>
                </div>
            </div>
            <div class="columns is-mobile is-tablet is-desktop is-centered">
                <div class="column is-10-mobile is-8-tablet is-8-desktop has-text-centered">
                    <p class="subtitle is-5 has-text-white">
                        Ordena el plato que desees desde la comodidad de tu casa.
                    </p>
                </div>
            </div>
            <div class="columns is-mobile is-tablet is-desktop is-centered">
                <div class="column is-10-mobile is-8-tablet is-8-desktop has-text-centered">
                    <!-- <delifood-search-bar></delifood-search-bar> -->
                    <button class="button is-warning is-medium" [routerLink]="['/comidas']" >
                        <span>
                            Ver comidas
                        </span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
</section>

<delifood-footer></delifood-footer>
