<!-- <section class="hero is-medium">
    <div class="hero-body"> -->
        <div class="container">
            <div style="max-width:480px; margin: 0 auto">
            
                <div class="columns">
                    <div class="column">
                        <img class="is-pulled-right" src="../../../assets/logo-c.png">

                    </div>
                    <div class="column" style="display: flex;margin-top: auto;margin-bottom: auto;">
                        <h1 class="title is-1 has-text-white">Delifood</h1>

                    </div>
                </div>
                
                <p class="subtitle is-5 has-text-white has-text-centered">
                    Ordena el plato que desees de restaurantes locales desde la comodidad de tu casa.
                </p>
                
                <div class="field has-addons is-medium">
                    <div class="control is-expanded">
                        <input type="text" class="input" placeholder="Buscar una comida">
                    </div>
                    <div class="control">
                        <a class="button is-warning">
                            Buscar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div>
</section> -->
