<div class="container">
    <div class="columns is-mobile">
        <div class="column is-half-mobile">
            <img class="is-pulled-right" src="../../../assets/logo-c.png">
        </div>
        
        <div class="column is-half-mobile" style="display: flex;margin-top: auto;margin-bottom: auto;">
            <h1 class="title is-1 has-text-white">Delifood</h1>
        </div>
    </div>
    
    <div class="columns">
        <div class="column ">
            <p class="subtitle is-5 has-text-white has-text-centered">
                Ordena el plato que desees de restaurantes locales desde la comodidad de tu casa.
            </p>
        </div>
    </div>

    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <div class="field has-addons is-clearfix" style="max-width: 800px; min-width: 640px">
                <div class="control is-expanded">
                    <input type="text" class="input is-large" placeholder="Buscar una comida">
                </div>
                <div class="control">
                    <a class="button is-warning is-large">
                        Buscar
                    </a>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>
