<div class="container">
    <div class="columns">
        <div class="column" style="height: 80px"></div>
    </div>
    <div class="columns is-mobile is-centered">
        <div class="column is-half-desktop is-10-mobile is-8-tablet" style="max-width: 480px; min-width: 320px">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        Registro
                    </div>
                </div>
                <div class="card-content">
                    <div class="content">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="field">
                                <label class="label">Nombres</label>
                                <div class="control">
                                    <input class="input" placeholder="pedro perez" formControlName="name">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Correo electrónico</label>
                                <div class="control">
                                    <input class="input" placeholder="correo@correo.com" formControlName="email">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Contraseña</label>
                                <div class="control">
                                    <input class="input" placeholder="contraseña" formControlName="password" type="password">
                                </div>
                            </div>
                            <div class="buttons">
                                <input class="button is-info" type="submit" value="Registrarme" [disabled]="!registerForm.valid">
                            </div>
                        </form>
                    </div>
                </div>
                
                <div [hidden]="!hasError">
                    <article class="message is-danger">
                        <div class="message-header">
                            <p>Ocurrió un error</p>
                            <button class="delete" aria-label="delete" (click)="onClickDeleteError()"></button>
                        </div>
                        <div class="message-body">
                            {{errorMessage}}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
