<div class="columns is-mobile is-tablet is-desktop is-centered">
    <div class="column is-10-mobile is-8-tablet is-6-desktop has-text-centered">
        <h1 class="is-size-1">Detalles del pedido</h1>
        <div class="card" *ngIf="order">
            <div class="card-content">
                <div class="content">
                    <p>
                        Fecha: {{order.created | date: 'dd/MM/yyyy'}}
                    </p>
                    <p>
                        Metodo de Pago: 
                        <span class="icon is-medium" *ngIf="order.paymentProcessor === 'stripe'">
                            <i class="fab fa-2x fa-cc-stripe"></i>
                        </span>
                        <span class="icon is-medium" *ngIf="order.paymentProcessor === 'paypal'">
                            <i class="fab fa-2x fa-cc-paypal"></i>
                        </span>
                    </p>
                    <p>Comidas Pedidas: {{order.products.length}}</p>
                    <p>
                        Total: {{order.totalPayment | currency: 'BsF. '}}
                    </p>
                    
                    <article class="media" *ngFor="let p of order.products">
                        <figure class="media-left" style="margin-bottom: 0">
                            <p class="image is-128x128">
                                <img [src]="apiUrl + p.product.img" [alt]="p.product.name">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ p.product.name }} x {{ p.quantity }}</strong>
                                    <br>
                                    {{ p.totalPrice | currency: 'BsF. ' }}
                                    <br>
                                    {{ p.product.description }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
