<div class="container">
    <div class="columns">
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">
                    Mi Cuenta
                </p>
                <ul class="menu-list">
                    <li><a [routerLink]="['/cuenta/configuracion']">Configuración</a></li>
                    <li><a [routerLink]="['/cuenta/pedidos']" >Mis Pedidos</a></li>
                    <li><a [routerLink]="['/cuenta/contrasena']" class="is-active" >Cambiar Contraseña</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <form>
                <div class="field">
                    <label class="label">
                        Contraseña Actual
                    </label>
                    <div class="control">
                        <input type="password" class="input" placeholder="contraseña actual">
                    </div>
                </div>
                <div class="field">
                    <label class="label">
                        Contraseña nueva
                    </label>
                    <div class="control">
                        <input type="password" class="input" placeholder="contraseña nueva">
                    </div>
                </div>
                <div class="field">
                    <label class="label">
                        Repetir contraseña nueva
                    </label>
                    <div class="control">
                        <input type="password" class="input" placeholder="repetir contraseña nueva">
                    </div>
                </div>

                <button class="button is-link">
                    Cambiar contraseña
                </button>
            </form>
        </div>
    </div>
</div>
