<div class="container">
    <div class="columns is-mobile is-tablet is-desktop is-centered">
        <div class="column is-10-mobile is-10-tablet is-10-desktop">
            <div *ngIf="done">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img [src]="product.img" alt="imagen del producto">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                             <p class="title is-3">
                                {{product.name}}
                             </p>
                             <a [routerLink]="['/categorias', product.category.slug]">
                                <p class="subtitle is-5">
                                    #{{product.category.name}}
                                </p>
                            </a>
                             {{product.price | currency: 'BsF.'}}
                        </div>
    
                        <div class="content">
                            {{product.description}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <delifood-add-to-cart-button [product]="product"></delifood-add-to-cart-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
