<div class="container">
    <div class="columns is-mobile is-tablet is-desktop is-centered">
        <div class="column is-10-mobile is-10-tablet is-10-desktop">
            <div *ngIf="done">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img [src]="apiUrl + product.img" [alt]="product.name">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p class="title is-3">
                                {{product.name}}
                            </p>
                            <delifood-star [rating]="product.rating"></delifood-star>
                            <small>({{product.commentsCount}} comentario{{ product.commentsCount !== 1 ? 's' : '' }})</small>
                             <!-- <a [routerLink]="['/categorias', product.category.slug]">
                                <p class="subtitle is-5">
                                    #{{product.category.name}}
                                </p>
                            </a> -->
                            <br>
                            {{product.price | currency: 'BsF. '}}
                        </div>
    
                        <div class="content">
                            {{product.description}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <delifood-add-to-cart-button [product]="product"></delifood-add-to-cart-button>
                        </div>
                    </div>
                </div>
            </div>

            <delifood-comment-editor *ngIf="product" [productId]="product._id"></delifood-comment-editor>

            <delifood-comment *ngIf="product" [productId]="product._id" ></delifood-comment>
            <!-- <div *ngIf="done && product.commentsCount > 0">
                <div *ngIf="comments && comments.length > 0">
                    <delifood-comment *ngFor="let comment of comments" [comment]="comment"></delifood-comment>
                </div>
            </div> -->
        </div>
    </div>
</div>
<div style="margin-bottom: 30px;"></div>
<delifood-footer></delifood-footer>
<delifood-add-to-cart-modal></delifood-add-to-cart-modal>
