<div class="container">
    <div class="columns is-mobile is-tablet is-desktop is-centered">
        <div class="column is-10-mobile is-8-tablet is-half-desktop has-text-centered">
            Barra de busqueda
        </div>
    </div>
    <div class="columns is-mobile is-tablet is-desktop is-centered is-multiline">
        <div class="column is-10-mobile is-5-tablet is-4-desktop" *ngFor="let product of products | async">
            <delifood-product-card [product]="product"></delifood-product-card>
        </div>
    </div>
</div>

