<div class="container" style="min-height: 100vh">

    <div class="columns is-desktop is-centered">
        <div class="column is-9 has-text-centered">
            <div *ngIf="cartItems.length > 0">
                <h1 class="is-size-1">Carrito</h1>
    
                <div class="notification" *ngIf="!loggedIn">
                    Debes registrarte para poder hacer un pedido
                </div>
                <div class="notification" *ngIf="hasPendingOrder">
                    Ya tienes un pedido pendiente.
                </div>
    
                <form [formGroup]="cartDetailsForm">
                    <div formArrayName="items">
                        <div *ngFor="let item of cartItems.controls; let i = index" [formGroupName]="i">
    
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        <img [src]="apiUrl + item.value.item.img" [alt]="item.value.item.name">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>
                                                {{ item.value.item.name }}
                                            </strong>
                                        </p>

                                         <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label class="label">
                                                    Pedir:
                                                </label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input class="input"
                                                        style="max-width: 150px"
                                                        type="number"
                                                        min="1"
                                                        max="100"
                                                        [value]="item.controls.quantity.value"
                                                        (change)="onChangeItemQuantity(item.value)"
                                                        [class.is-danger]="(item.dirty || item.touched) && !item.valid"
                                                        [class.is-success]="(item.dirty || item.touched) && item.valid"
                                                        formControlName="quantity">
                                                    </div>
                                                    <p class="help is-danger" *ngIf="item.controls.quantity.errors?.min">
                                                        La cantidad pedida no puede ser menor a uno (1)
                                                    </p>
                                                    <p class="help is-danger" *ngIf="item.controls.quantity.errors?.max">
                                                        La cantidad pedida no puede exceder las cien (100) unidades
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label class="label">
                                                    Sub-Total:
                                                </label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input type="text" class="input is-static" [value]="item.value.total | currency: 'BsF. '" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <button class="delete" (click)="onDeleteItemFromCart(item.value)"></button>
                                </div>
                            </article>
                            <hr>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="column is-3 has-text-centered">
            <div *ngIf="cartItems.length > 0" style="padding-top:50px;">
                <p>
                    Cantidad de Productos: {{totalItems}}
                </p>
                <p>
                    Total a pagar: {{totalPayment | currency: 'BsF. '}}
                </p>
    
                <button class="button is-info" (click)="onClickOrder()" [disabled]="!cartDetailsForm.valid || !loggedIn">
                    <span class="icon is-small">
                        <i class="fas fa-check"></i>
                    </span>
                    <span>
                        Hacer el pedido
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="cartItems.length === 0">
        <div class="columns is-mobile is-tablet is-desktop is-centered">
            <div class="column is-10-mobile is-8-tablet is-half-desktop has-text-centered">
                <h1 class="is-size-1">
                    No hay nada en el carrito   
                </h1>
            </div>
        </div>
    </div>

</div>
<delifood-footer></delifood-footer>
<delifood-remove-from-cart-modal></delifood-remove-from-cart-modal>
<delifood-send-order-modal></delifood-send-order-modal>
